body{
    background: linear-gradient(to right, #e18dfa,#9acff3);
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Previene el desbordamiento horizontal */
    width: 100%;
  }
  